* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex; 
  position: sticky;
  flex-direction: row;
  height: 86px;
  background-color: #fcd232;
  align-items: center;
  padding: 0 100px 0 100px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

nav > a {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

nav ul {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex: 6;
  width: 100%;
}

nav ul li {
  font-size: 15px;
  font-weight: bold;
}

nav ul li a {
  color: black;
  transition: 0.5s ease-in-out;
}

nav ul li a:hover {
  color: black;
  opacity: 0.5;
  text-decoration: none;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

nav div:hover {
  background-color: darkred;
}

nav div a,
nav div a:hover {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
}

nav a img {
  width: 50px;
}

.burgerMenu {
  display: none;
}

#hero-banner{
 min-height: calc(100vh - 200px);

}

#hero-banner p{
font-size: 78px;
}

.redbg {
  background-image: 
    url(./images/redbg.jpg);
  background-size: cover;
  background-position-y: 70%;
  background-position-x: center;
}
 

.yellowbg{
  background-color: #fcd232;
}

.smalltext{
  font-size: 12px;
  font-weight: 500;
  background-color: #fcd232;
  width:70%;
  margin-left: 20px;
}
.smallertext{
  font-size: 11px;
  font-weight: 500;
}
.font{
  font-size: 10px;
}

.link{
  color: black;
}

.link:hover{
  color:black;
  text-decoration: none;
}
.card:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.2s ease;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 0;
  border: 0;
}

button.btn.btn-danger{
  background-color: red;
  font-size: 14px;
  padding: 6px 20px;
}

label{
  width: 100%;
  height: 100%;
}

footer p{
  font-weight: 500;
  font-size: 16px;
}

.vraboti{
  min-height: calc(100vh - 86px);
}
.vraboti h1{
  font-size: 56px;
  font-weight:bold;
  padding-top:120px;
}

.redbtn{
  margin-top: 9px;
}

.bg-picture {
  background-image: 
    url(./images/party.jpg);
  height: calc(100vh - 56px);
  background-size: cover;
  background-position-y: 70%;
  background-position-x: center;
}

.bg-picture h1{
  padding-top: 200px;
}

@media (max-width: 1440px) {
  nav {
    padding: 0 50px 0 50px;
  }
  nav ul li,
  nav div a {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  nav {
    padding: 0 20px 0 20px;
  }
  nav ul {
    display: none;
  }
  nav ul.open {
    display: inherit;
    position: absolute;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    top: 85px;
    height: calc(100vh - 85px);
    justify-content: start;
    background-color: #302f38;
    z-index: 99;
    overflow: hidden;
  }
  nav ul.open li a {
    color: white;
  }
  nav ul li {
    padding-bottom: 20px;
    padding-left: 10px;
  }
  nav ul li a {
    text-align: left;
  }
  nav div {
    margin-left: 10px;
  }
  nav > a {
    justify-content: flex-start;
  }
  .burgerMenu {
    display: inherit;
    width: 100%;
    justify-content: flex-end;
  }
  .burgerMenu img {
    width: 35px;
  }

  #hero-banner p{
    font-size: 65px;
    }
}

@media (max-width: 768px) {
  .smallrtext{
    font-size: 13px;
  }

  footer p{
    font-size: 13px;
  }

  .vraboti h1{
    font-size: 40px;
  }

  .bg-picture h1{
    font-size: 30px;
  }

  #hero-banner p{
    font-size: 55px;
    }
}

@media (max-width: 425px) {
  .vraboti h1{
    font-size: 28px;
  }

  .bg-picture h1{
    font-size: 23px;
  }
  #hero-banner p{
    font-size: 40px;
    }

}
